/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/

[Bb]est [Hh][Tt][Tt][Pp]
[Bb]est [Hh][Tt][Tt][Pp].meta
ConfigGDN.json

.vscode/
.vs/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc
Assets/ConfigGDN.json.meta
