# Quality Report

## QA Owner: @davidla

## Test strategy
* Unit test coverage:
  * Bundle renaming
  * Bundle folder movement
  * Bundle creation
  * Asset movement
  * Internal bundle updating
  * Bundle merge and delete
  * Basic variant functionality
  * Internal data (model) stability

## Package Status
* open bugs: https://github.com/Unity-Technologies/AssetBundles-Browser/issues
* package has been openly available on github since April, officially released on github and the asset store since June.  Users have been able to report bugs through github (see above link) and give feedback in the asset store.  Current asset store rating is 5 stars after 19 votes.
